body{
  background: linear-gradient(to top right, #4facfe, #00f2fe, #43e97b, #f8ffae);
  font-weight: 600;
  background-attachment: fixed;
}
.weather-container{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    line-height: 2px;
    text-align: center;
}

.daily-card{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}